pkgbase = stepmania
	pkgdesc = Advanced rhythm game. Designed for both home and arcade use.
	pkgver = 5.1.0.b2.r627.d55acb1ba2
	pkgrel = 2
	url = http://www.stepmania.com/
	arch = x86_64
	license = MIT AND CC-BY-NC-4.0
	makedepends = cmake
	depends = glew
	depends = glu
	depends = libx11
	depends = libxext
	depends = libxtst
	depends = libxinerama
	depends = libxrandr
	depends = alsa-lib
	depends = libpulse
	depends = libmad
	depends = libogg
	depends = libvorbis
	depends = libjpeg
	depends = libpng
	depends = gtk3
	depends = libtommath
	depends = libtomcrypt
	depends = jsoncpp
	depends = pcre
	depends = zlib
	depends = libsm
	depends = libice
	optdepends = ffmpeg: if attempting a build with WITH_SYSTEM_FFMPEG=YES
	source = https://github.com/stepmania/stepmania/archive/d55acb1ba26f1c5b5e3048d6d6c0bd116625216f.tar.gz
	source = ffmpeg-mathops.patch
	source = ffmpeg-misc.patch
	source = stepmania 5.1.desktop
	sha256sums = 7d0e0d4b13f780fc6181561b257d9cd8a3ef73df513f4b8f36743acebb63a130
	sha256sums = e8936b23e1c645a0cb259e50c9f2baba619d51bcbf657e933970d00e2ed3311d
	sha256sums = 858b6fddfb576f28edabcb7c17b670e9cf2911f3130af2f31e22ff1ade4405ed
	sha256sums = 2144dbd868ca3a9fbee4915c5130ee7fe238fce2c64a55d90a2602eda4ccb87c

pkgname = stepmania
