pkgbase = python-grilops
	pkgdesc = GRId LOgic Puzzle Solver
	pkgver = 0.10.3
	pkgrel = 1
	url = https://github.com/obijywk/grilops
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-z3-solver
	source = https://files.pythonhosted.org/packages/source/g/grilops/grilops-0.10.3.tar.gz
	source = LICENSE
	sha256sums = ee0871b402cf7be43a40314e7e8f4280f930ca413e0cb9533188b024e240d2e7
	sha256sums = 7161cd1ef6b37818a00e227eadcbf69472f89978754145f3904d1e6d53dfc282

pkgname = python-grilops
