pkgbase = nethack-qt-geoduck
	pkgdesc = A single player dungeon exploration game. QT version with tiles from Geoduck
	pkgver = 3.6.7
	pkgrel = 1
	url = http://www.nethack.org/index.html
	arch = i686
	arch = x86_64
	license = custom
	makedepends = xorg-mkfontscale
	makedepends = xorg-bdftopcf
	depends = gzip
	depends = ncurses
	depends = qt5-base
	depends = qt5-multimedia
	depends = libxaw
	depends = libxt
	depends = libx11
	provides = nethack
	conflicts = nethack
	conflicts = nethack-qt
	conflicts = nethack-x11
	source = https://nethack.org/download/3.6.7/nethack-367-src.tgz
	source = http://www.geoduckthings.net/nhack/geoduck25x15-2017.bmp
	source = http://www.geoduckthings.net/nhack/geoduck50x30-2017.bmp
	md5sums = eef55cf2d94f637386bf9beefdbe44dc
	md5sums = c98c2cad5636a296e53a2a26594c610b
	md5sums = 4afd16f03056480b2d890ff4261e0d94

pkgname = nethack-qt-geoduck
